.about{
  margin-top: 3.5rem;
}

.about__banner{
  position: relative;
  background-image: url(/images/alot\ of\ sneakers\ background.jpg);
  background-size: cover;
  background-position: center;
  filter: grayscale(100%);
  min-width: 580px;
  height: 45vh;
  margin: 0 auto;
}

.about__banner:hover{
  filter: grayscale(0%);
}

h4 span{
  color: rgb(255, 135, 55);
}

.about__text{
  position: relative;
  color: rgb(255, 135, 55);
  text-align: center;
  transform: translateY(-180%);
  height: 50%;
  font-weight: 700;
  font-size: var(--size-8xl);
    
}

.about__text-main{
  text-align: center;
  margin-bottom: 3rem;
  color: rgb(85, 85, 85, .8);
  font-size: var(--size-xs);
}

.about__description,
.about__subtitle{
  margin: 3.5rem ;
  
}


.about__text-container{
  margin-top: -6rem;
  margin-bottom: 5rem;
}

.about__subtitle{
  margin-bottom: -2rem;

}


/* xs */
@media (max-width: 475px) {
  .about__text{
    transform: translateY(-135%);
  }

  .about__text-main{
    margin-top: -12rem;
  }

.about__description,
.about__subtitle{
  text-align: center ;
}

.about__description{
  margin-top: 3.5rem;
}
}

/* sm */
/* @media (max-width: 640px) {} */

/* md */
/* @media (max-width: 768px) {} */

/* Lg */
/* @media (max-width: 1024px) {} */

/* xL */
/* @media (max-width: 1288px) {} */

/* 2xL */
/* @media (max-width: 1536px) {}   */

