#banner{
  margin-top: 8rem;
}

.banner__box{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 580px;
  height: 50vh;
  background-size: cover;
  background-position: center;
  padding: 2rem;
  filter:grayscale(50%) ;
}

.banner1{
  background-image: url("/images/Nike-wild-banner.webp");
}

.banner:hover{
  filter: grayscale(0%);
}

.banner2{
  background-image: url(/images/Clarks-Hero-Banner.webp);
}

.banner__btn {
  background: transparent;
  color: black;
  border: .5px solid black;
}

.banner__btn:hover{
  border-color: white;
}


/* xs */
/* @media (max-width: 475px) {} */

/* sm */
/* @media (max-width: 640px) {} */

/* md */
/* @media (max-width: 768px) {} */

/* Lg */
/* @media (max-width: 1024px) {} */

/* xL */
/* @media (max-width: 1288px) {} */

/* 2xL */
/* @media (max-width: 1536px) {}   */
