
.exRelease{
  margin-top: 3.5rem;
}

.exRelease__banner{
position: relative;
background-image: url(/images/shoes\ store\ layout.webp);
background-size: cover;
background-position: center;
filter: grayscale(100%);
min-width: 580px;
height: 25vh;
margin: 0 auto;
}

.exRelease__banner:hover{
filter: grayscale(0%);
}

.exRelease__text{
position: relative;
color: rgb(255, 135, 55);
text-align: center;
transform: translateY(-130%);
left: 0px;
height: 50%;
font-weight: 700;
font-size: var(--size-8xl);   
}

.exproduct__container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -4.5rem;
}




/* xs */
/* @media (max-width: 475px) {} */

/* sm */
/* @media (max-width: 640px) {} */

/* md */
/* @media (max-width: 768px) {} */

/* Lg */
/* @media (max-width: 1024px) {} */

/* xL */
/* @media (max-width: 1288px) {} */

/* 2xL */
/* @media (max-width: 1536px) {}   */

