header{
  padding: .5rem;
}

nav{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left:0;
  padding: 1.5rem 1rem;
  background: rgb(255, 255, 255);
  box-shadow: 0px 1px 1px 0px rgba(147, 147, 147, 0.5);
  z-index: 10;
}

ul li a{
  text-decoration: none;
  list-style: none;
}

.header__menu-logo{
  display: flex;
  list-style: none;
}

.header__logo{
color: rgb(22, 22, 122);
}

.logo__number4{
  color: red;
}

.header__menu{
  display: flex;
  gap: 2rem;
  list-style: none;
  text-decoration: none;
}

.header__link a{
  color: rgb(40, 40, 40);
  font-weight: 300;
}

.header__link a:hover{
  color: red;
  font-weight: 500;
  transition: .15s;
}

.header__menu-right{
  display: flex;
  list-style: none;
}

.header__link-right{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

.header__cart{
  text-decoration: none;
  color: rgb(22, 22, 122);
  font-weight: 300;
}

.fa-solid{
  color: rgba(22, 22, 122, .75);
}





/* xs */
/* @media (max-width: 475px) {} */

/* sm */
/* @media (max-width: 640px) {} */

/* md */
/* @media (max-width: 768px) {} */

/* Lg */
/* @media (max-width: 1024px) {} */

/* xL */
/* @media (max-width: 1288px) {} */

/* 2xL */
/* @media (max-width: 1536px) {}   */
