header{
  padding: .5rem;
}

nav{
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left:0;
  padding: 1.5rem 1rem;
  background: rgb(255, 255, 255);
  box-shadow: 1px 1px 1px .5px rgba(147, 147, 147, 0.2);
  z-index: 10;
}

#mobile{
  display: none;
}

ul li a{
  text-decoration: none;
  list-style: none;
}

.header__menu-logo{
  display: flex;
  list-style: none;
}

.header__logo{
color: rgb(22, 22, 122);
font-weight: 600;
}

.logo__number4{
  color: rgb(255, 135, 55);
}

.header__menu{
  display: flex;
  gap: 2rem;
  list-style: none;
  text-decoration: none;
}

.header__link a{
  color: rgb(22, 22, 122, .7);
  font-weight: 400;
}

.header__link a:hover,
.header__link a.active{
  color: rgb(255, 135, 55);
  font-weight: 500;
  transition: .15s;
}

.header__menu-right{
  display: flex;
  list-style: none;
}

.header__link-right{
  list-style: none;
  display: flex;
  align-items: center;
  gap: 1.2rem;
}

/* .hamburger__btn{
  width: 20px;
  fill: rgb(22, 22, 122, .7);
  border-radius: 2px;
  transition: all .1s ease-in-out;
  cursor: pointer;
}

.hamburger__btn:hover :is(.top, .bottom){
  y: 45;
}

.hamburger__btn:hover .top{
  rotate: 45deg;
  fill: rgb(255, 135, 55, .75);
}

.hamburger__btn:hover .middle{
  fill: rgb(255, 135, 55, .85);
  opacity: 0;
}

.hamburger__btn:hover .bottom{
  rotate: -45deg;
  fill: rgb(255, 135, 55, .85);
}

.hamburger__btn .line{
  transition: 
  y 250ms ease-in 250ms,
  rotate 250ms ease-in,
  fill 1.5s,
  opacity 0ms 250ms;
  transform-origin: center;
}

.hamburger__btn:hover .line{
  transition: 
  y 250ms ease-in,
  rotate 250ms ease-in 250ms,
  fill 1.5s,
  opacity 0ms 250ms;
} */


.fa-magnifying-glass:hover{
  opacity: .8;
  cursor: pointer;
  transform: scale(1.4);
  transition: .8s;
}

.fa-magnifying-glass:active{
  transform: scale(.4);
  transition: .2s;
  opacity: 1;
}

.header__cart{
  text-decoration: none;
  color: rgb(22, 22, 122);
  font-weight: 300;
}

.header__cart:hover{
  opacity: .8;
}

.header__cart:active{
  opacity: 1;
}

/* .header__cart::after{
  content: attr(value);
  font-size: 3px;
  width: 0px;
  height: 50px;
  background: rgb(255, 135, 55);
  border-radius: 50%;
  padding: 6px;
  position: relative;
  top: -12px;
  right: 41px;
  opacity: .9;
} */

.fa-solid,
.fa-regular{
  color: rgba(22, 22, 122, .75);
}






/* xs */
/* @media (max-width: 475px) {} */

/* sm */
@media (max-width: 640px) {

  #mobile{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 1.5rem;
  }


  #navbar{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    list-style: none;
    text-decoration: none;
    position: fixed;
    top: 0;
    right: -200px;
    height: 100vh;
    width: 200px;
    background-color: white;
    padding: 80px 0 0 20px;
    transition: .2s ease-in forwards;
  }

  #navbar.active{
    right: 0;
    box-shadow: 10px 20px 45px rgb(22, 22, 122, .7);
  }

  .header__menu-right{
    display: none;
  }

  .hamburger__btn{
    width: 20px;
    fill: rgb(22, 22, 122, .7);
    border-radius: 2px;
    position: relative;
    top: 4px;
    right: 0;
    left: 0;
    bottom: 0;
    transition: 1s ease-in forwards;
    cursor: pointer;
  }
  
  .hamburger__btn.close :is(.top, .bottom){
    y: 45;
  }
  
  .hamburger__btn.close .top{
    rotate: 45deg;
    fill: rgb(22, 22, 122);
  }
  
  .hamburger__btn.close .middle{
    fill: rgb(255, 135, 55, .85);
    opacity: 0;
  }
  
  .hamburger__btn.close .bottom{
    rotate: -45deg;
    fill: rgb(22, 22, 122);
  }
  
  .hamburger__btn .line{
    transition: 
    y 250ms ease-in 250ms,
    rotate 250ms ease-in,
    fill 1s,
    opacity 0ms 250ms;
    transform-origin: center;
  }
  
  .hamburger__btn.close .line{
    transition: 
    y 250ms ease-in,
    rotate 250ms ease-in 250ms,
    fill 1s,
    opacity 0ms 250ms;
  }

  .hamburger__btn.close{
  
    left: -150px;
  }
}

/* md */
@media (max-width: 768px) {
  #navbar{
    gap: 1.1rem;
  }
}

/* Lg */
/* @media (max-width: 1024px) {} */

/* xL */
/* @media (max-width: 1288px) {} */

/* 2xL */
/* @media (max-width: 1536px) {}   */
