.hero{
  padding: .5rem;
  margin-left:  1rem;
}

.main-scroll-div{
  position: relative;
  max-width: 100%;
  width: 100%;
  height: 70vh;
  min-width: 24rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  margin-top: 1.5rem;
  margin-bottom: 2rem;
}

.scroll-images{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: auto;
  position: relative;
  scroll-behavior: smooth;
  aspect-ratio: 16 / 9;
  scroll-snap-type: x mandatory;
}

.child{
  max-width: 48rem;
  height: 100%;
  margin: 0 auto;
  cursor: pointer;
  overflow: hidden;
  aspect-ratio: 16 / 9;
}

.scroll-images::-webkit-scrollbar{
  display: none;
}

.child-img{
  flex: 1 0 100%;
  object-fit: contain;
}

.fa-chevron-left,
.fa-chevron-right{
  cursor: pointer;
  position: relative;
  width: 0%;
  z-index: 2;
  opacity: .4;
  color: black;
}

.fa-chevron-left:hover,
.fa-chevron-right:hover{
opacity: .7;
}

.fa-chevron-left:active,
.fa-chevron-right:active{
  opacity: 1;
}

.hero__nav-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  text-align: end;
  gap: 2rem;
  margin-bottom: 3rem;
  }

.hero__new-release-container{
  position: relative;
  margin-left: 2rem;
}

.hero__exclusive-container{
  margin-top: 5rem;
}

.hero__subtitle{
  font-weight: 300;
  font-size: var(--size-3xl);
  letter-spacing: 6px;
}

.hero__button-wrapper{
  margin-top: .5rem;
  margin-bottom: 1.5rem;
}

.hero__button, .btn{
  background: rgb(50, 50, 50);
  color: white;
  padding: 10px 30px;
  border: .5px solid white;
  font-weight: 300;
}

.hero__button:hover{
  background: inherit;
  color: black;
  border: .5px solid rgb(255, 135, 55);
  transition: .3s;
}

#product {
  position: relative;

}

.product__container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, auto));
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;
}
/* 
#product {
  width: 15%;
  min-width: 200px;
  position: relative;
} */

.pro1{
  position: relative;
  bottom: 40px;
  left: 16px;
  font-size: var(--size-sm);
  line-height: 1px;
  border: 3px dotted green;
}

.pro__price{
  color: rgb(50, 50, 50,.85);
  font-weight: 300;
}

.pro1 span{
  color: rgb(150, 150, 150);
  font-size: var(--size-xs);
  line-height: 10px;
}

.pro__name{
  color: rgb(50, 50, 50)
}

.pro1 img{
  width: 90%;
  border-radius: 4px;
  border: 2px dotted yellow;
}

.add__cart{
  color: rgb(22, 22, 122, .8);
  position: absolute;
  bottom: 50px;
  right: 15px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  text-align: center;
  transition: .3s ease;
  cursor: pointer;
}

.add__cart:hover{
  opacity: .7;
}

.add__cart:active{
  transform: scale(1.1);
  opacity: 1;
  color: rgb(255, 135, 55);
}



/* xs */
/* @media (max-width: 475px) {} */

/* sm */
@media (max-width: 640px) {
  .hero__new-release-container{
    text-align: center;
  }
}

/* md */
@media (max-width: 768px) {
   .hero__new-release-container{
    text-align: center;
  }
}

/* Lg */
/* @media (max-width: 1024px) {} */

/* xL */
/* @media (max-width: 1288px) {} */

/* 2xL */
/* @media (max-width: 1536px) {}   */
